name: Continuous integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set environment variable
      run: |
        SHORT_SHA_COMMIT=$(git rev-parse --short HEAD)
        echo CONTAINER_RELEASE_IMAGE=ghcr.io/aura-nw/docs:${GITHUB_REF_NAME}_${SHORT_SHA_COMMIT} >> $GITHUB_ENV
        echo REPO_MANIFEST_NAME=gitops >> $GITHUB_ENV
        echo REPO_MANIFEST_URL=github.com/aura-nw/gitops.git >> $GITHUB_ENV
        echo REPO_MANIFEST_BRANCH=master >> $GITHUB_ENV
        echo REPO_MANIFEST_ENV_DEV=./docs/clusters/k8s-dev >> $GITHUB_ENV
        echo REPO_MANIFEST_ENV_MAIN=./docs/clusters/k8s-uat >> $GITHUB_ENV
        echo REPO_MANIFEST_TAG_IMAGE=image_landing_page >> $GITHUB_ENV
    - name: Build the Docker image and push it to the registry
      env:
        GITHUB_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
        GITHUB_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      run: |
        chmod 777 -R ./ci
        ./ci/build.sh
    - name: Update manifest
      env:
        SSH_KEY_GITOPS: ${{ secrets.SSH_KEY_GITOPS }}
        PERSONAL_ACCESS_KEY: ${{ secrets.REGISTRY_PASSWORD }}
      run: |
        ./ci/updateManifest.sh
